/*
Place your CSS customizations here.
This stylesheet is defined last and will override all previously loaded sheets. You may reference variables defined in variables.css 
 */
 .brand-name h1 {
    color: #58ae6e;
    margin: 0;
    letter-spacing: 0.05em;
  }

.brand-name h2 {
  color: #a4a2a3;
  margin: 0;
  letter-spacing: 0.05em;
}

.brand-name h2 {
    font-size: calc(var(--brand-font-size) * 0.4);
  }

  .welcome-text {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: #a4a2a3;
    font-weight: bold;
  }

  .button-tertiary > a {
    color: var(--bright-color);
  }

  .button-tertiary {
    background-color: none;
    border: 3px solid var(--bright-color);
    padding: 0.5rem 0.9rem;
  }

  .button-secondary > a {
    color: white;
  }