/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/creosote.jpg");
  --header-bg-color: ; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 2rem;
  --title-font-family: "Averia Serif Libre", serif;
  --logo-width: 120px;
  --menu-top-bg-color: #737159;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Arial", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Roboto", sans-serif;
  --link-color: #2f1a07;
  --darkest-color: #1f1a07;
  --medium-color: #9b8651;
  --light-color: #cfc5a3;
  --bright-color: #eebf02;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
