/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/header_new.png");
  --header-bg-color: ; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 3rem;
  --title-font-family: "Times New Roman", serif;
  --logo-width: 120px;
  --menu-top-bg-color: #000000;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Arial", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Times New Roman", serif;
  --link-color: #126c00;
  --darkest-color: #1b3d2f;
  --medium-color: #5a5a53;
  --light-color: #f2f0e9;
  --bright-color: #b9d432;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
