/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/midwest_banner_4.gif");
  --header-bg-color: ; /** Transparent color if adding header bg-image #f2f0e6 **/ 
  --header-font-color: black;
  --brand-font-size: 3rem;
  --logo-width: 120px;
  --menu-top-bg-color: #a8a38e;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Arial", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Roboto", sans-serif;
  --link-color: #5b5686;
  --darkest-color: #5b5686;
  --medium-color: #63703d;
  --light-color: #e0d8bc;
  --bright-color: #b9d432;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
