/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/Chile_mtn.jpg");
  --header-bg-color: #ffffff70;/** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 2rem;
  --title-font-family: "Averia Serif Libre", serif;
  --logo-width: 120px;
  --menu-top-bg-color: #a1a4ba;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Roboto", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Roboto", sans-serif;
  --link-color: #be8a4b;
  --darkest-color: #624a32;
  --medium-color: #ab9e9a;
  --light-color: #fdfdfd;
  --bright-color: #be8a4b;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
