/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/jonathan-borba-Ui73wdp0wok-unsplash.jpg");
  --header-bg-color: #768245; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 1.5rem;
  --title-font-family: "Averia Serif Libre", serif;
  --logo-width: 120px;
  --menu-top-bg-color: #768245;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Arial", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Roboto", sans-serif;
  --link-color: #A89FA4;
  --darkest-color: #212B12;
  --medium-color: #768245;
  --light-color: #f2f0e9;
  --bright-color: #F2B703;
  --danger-color: #b31b1b;
  --max-innertext-width: 1500px;
}
